In [17]:
from pyspark.sql import SparkSession

In [18]:
spark = SparkSession.builder.appName('Aggregate').getOrCreate()

In [19]:
df = spark.read.csv("G:\Downloads Ex\Python-and-Spark-for-Big-Data-master\Python-and-Spark-for-Big-Data-master\Spark_DataFrames\sales_info.csv", inferSchema=True, header=True)

In [20]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [21]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [22]:
#Lets find out average sale by person
df.groupBy('Sales').mean().show()

+-----+----------+
|Sales|avg(Sales)|
+-----+----------+
|124.0|     124.0|
|350.0|     350.0|
|120.0|     120.0|
|250.0|     250.0|
|340.0|     340.0|
|600.0|     600.0|
|130.0|     130.0|
|243.0|     243.0|
|870.0|     870.0|
|200.0|     200.0|
|750.0|     750.0|
+-----+----------+

In [23]:
#lets find out average sale by company 
df.groupBy('Sales').mean().show()

+-----+----------+
|Sales|avg(Sales)|
+-----+----------+
|124.0|     124.0|
|350.0|     350.0|
|120.0|     120.0|
|250.0|     250.0|
|340.0|     340.0|
|600.0|     600.0|
|130.0|     130.0|
|243.0|     243.0|
|870.0|     870.0|
|200.0|     200.0|
|750.0|     750.0|
+-----+----------+

In [24]:
#Summ
df.groupby('Company').sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [25]:
#count of rows or employees in dataframe
df.groupby('Company').count().show()
#min
df.groupby('Company').min().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

In [26]:
#Let's say we want to get all sale total and not the groupBy company, .agg() method which uses dictionary format as an argument
df.agg({'Sales':'max'}).show()
df.agg({'Sales':'sum'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [27]:
group_data = df.groupBy("Company")

In [28]:
#we can achieve this on groupBy object as well. 
group_data.agg({"Sales":"max"}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [48]:
from pyspark.sql.functions import count_distinct, avg, stddev, format_number

###Functions
There are a variety of functions you can import from pyspark.sql.functions. Check out the documentation for the full list available or hit tab.

In [30]:
df.select(avg('sales')).show()

+-----------------+
|       avg(sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [33]:
#just like in SQL Queries we can alias the column names as well for better readablility and understanding.
df.select(avg("sales").alias("Total Revenue")).show()

+-----------------+
|    Total Revenue|
+-----------------+
|360.5833333333333|
+-----------------+

In [34]:
df.select(stddev('sales').alias("Standard Deviation")).show()

+------------------+
|Standard Deviation|
+------------------+
|250.08742410799007|
+------------------+

There are too many digits for standard deviation. lets Format the numbers t0 2 decimal points.

In [44]:
sales_std = df.select(stddev('sales').alias("Std"))

In [45]:
type(sales_std)

pyspark.sql.dataframe.DataFrame

In [52]:
sales_std.select(format_number('Std',2).alias("Std")).show()

+------+
|   Std|
+------+
|250.09|
+------+

###Order By and Sorting Methods used in DataFRame in Spark

In [53]:
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [54]:
#OrderBy in descending order has lil different syntax. 
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+